[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "premake/premake5-cuda"]
	path = premake/premake5-cuda
	url = git@github.com:theComputeKid/premake5-cuda.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
